backend/serviceAccountKey.json
backend/.env
node_modules/


# Python Virtual Environment
venv/
*/venv/

# Python cache files
__pycache__/
*.pyc

# CRITICAL: Firebase Admin Key
# This file contains private keys and must NEVER be committed to Git.
serviceAccountKey.json

# IDE / OS files
.vscode/
.idea/
.DS_Store
