name: Pull Request CI (Python Static Analysis)

on:
  pull_request:
    branches: [main]
    paths:
      - "**.py"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: ubuntu-latest
    container:
      image: hyperledger/iroha2-ci:nightly-2025-05-08
    strategy:
      matrix:
        suite: [iroha_cli_tests, iroha_torii_tests]
    steps:
      - uses: actions/checkout@v5
      - name: Install dependencies using Poetry for pytests/${{ matrix.suite }}
        working-directory: pytests/${{ matrix.suite }}
        run: |
          poetry lock
          poetry install --no-root
      - name: Check code formatting with Black in pytests/${{ matrix.suite }}
        working-directory: pytests/${{ matrix.suite }}
        run: |
          poetry run black --check .
      - name: Run mypy (Type Checker) in pytests/${{ matrix.suite }}
        working-directory: pytests/${{ matrix.suite }}
        run: |
          poetry run mypy --explicit-package-bases --ignore-missing-imports .
      - name: Run flake8 (Linter) in pytests/${{ matrix.suite }}
        working-directory: pytests/${{ matrix.suite }}
        run: |
          poetry run flake8 . --max-line-length=110 --ignore=F401,W503,E203
