name: Publish (Dev CI/CD)

on:
  push:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  DEFAULTS_DIR: defaults
  WASM_TARGET_DIR: wasm/target/prebuilt
  ARTIFACTS_DIR: tmp/artifacts
  BIN_PATH: /usr/local/bin

jobs:
  build_wasm_libs:
    runs-on: ubuntu-latest
    container:
      image: hyperledger/iroha2-ci:nightly-2025-05-08
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      # TODO: Rust cache for ./wasm workspace
      - name: Build wasm libs
        run: ./scripts/build_wasm.sh libs
      - name: Upload wasm libs to reuse in other jobs
        uses: actions/upload-artifact@v5
        with:
          name: wasm-libs
          path: ${{ env.WASM_TARGET_DIR }}/libs

  dev_image:
    runs-on: [self-hosted, Linux, iroha2]
    container:
      image: hyperledger/iroha2-ci:nightly-2025-05-08
    needs: build_wasm_libs
    steps:
      - uses: actions/checkout@v4
      - name: Download wasm libs
        uses: actions/download-artifact@v4
        with:
          name: wasm-libs
          path: ${{ env.DEFAULTS_DIR }}/libs
      - name: Move the default executor
        run: mv ${{ env.DEFAULTS_DIR }}/libs/default_executor.wasm ${{ env.DEFAULTS_DIR }}/executor.wasm
      - name: Set up Docker Buildx
        id: buildx
        if: always()
        uses: docker/setup-buildx-action@v3
        with:
          version: latest
          install: true
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to Soramitsu Harbor
        uses: docker/login-action@v3
        with:
          registry: docker.soramitsu.co.jp
          username: ${{ secrets.HARBOR_USERNAME }}
          password: ${{ secrets.HARBOR_TOKEN }}
      - name: Build and push iroha:dev image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            hyperledger/iroha:dev
            docker.soramitsu.co.jp/iroha2/iroha:dev
          labels: commit=${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  trigger_sdk_tests:
    runs-on: ubuntu-latest
    needs: dev_image
    steps:
      - name: Trigger Iroha Python tests
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.REPO_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/hyperledger-iroha/iroha-python/dispatches \
            -d '{"event_type":"dispatch-event"}'
      - name: Trigger Iroha Java tests
        run: |
          curl -L \
            -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.REPO_ACCESS_TOKEN }}" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/hyperledger-iroha/iroha-java/dispatches \
            -d '{"event_type":"allure-upload-trigger"}'
